.Container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.ToolbarContainer {
    height: 10%;
    width: 100%;
    
    /* position: fixed; */
}

.BlockContainer {
    display: flex;
    height: 90%;
    /* margin-top: 5%; */
    /* position: fixed; */
}

.Container .BlockA {
    /* flex: 0.3; */
    /* background-color: white; */
    position: fixed;
    z-index: 10;
    width: 20%;
    height: 90%;
}

.Container .BlockB {
    /* flex: 0.6; */
    
    margin-left: 20%;
    position: relative;
    width: 55%;
}

.Container .BlockC {
    /* flex: 0.2; */
    /* background-color: lightslategrey; */
    position: fixed;
    margin-left: 75%;
    width: 25%;
    height: 90%;
}